@import './variables.scss';
@import './mixins.scss';

.footerBox {
  background-color: $color-main;
  min-height: 200px;

  .container {
    @include container;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $main-spacing;
    margin-left: $main-spacing*2;

    &__logo {
      max-width: 220px;
      max-height: 100px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  
    &__menu {
      margin-right: $main-spacing*2.5;

      .menu__down {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
      }

      .menu__down-item {
        padding: $main-spacing/2 0;
        cursor: pointer;
      }

      .menu__down-item a {
        text-decoration: none;
        color: $color-text-light;

        &:hover {
          color: $color-dark;
        }
      }

      .menu__down-lang {
        border: none;
        background-color: $color-main;
        color: $color-text-light;
        font-family: $font-text;
        font-size: $base-size*0.7;
        display: none;
      }
    }
  }
}

@media(max-width: 800px) {
  .footerBox {
    .footer {
      &__menu {
        .menu__down-lang {
          display: block;
        }
      }
    }
  }
}
