@import './variables.scss';

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin subtitle {
  font-family: $font-second;
  font-size: $base-size*2;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 4px 8px $color-main;
}