@import './variables.scss';

.navigation {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .logo {
    height: 100%;
    max-width: 300px;
    display: flex;

    img {
      width: 100%;
      margin: auto 0;
    }
  }

  .menu {
    margin: 0 $main-spacing;
    z-index: 9;

    &__main {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          color: $color-main;
        }
      }

      .menu__main-item {
        margin: 0 $main-spacing;
        font-size: $base-size*1.2;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    &__hamburger {
      height: $main-spacing*2.5;
      display: none;
      padding: 0;
      margin: 0;

      &-item {
        margin: 0 $main-spacing;
        width: 35px;
        height: 3px;
        background-color: $color-text;
        margin: 4px;
      }
    }
  }
}

.changeHamburger {
  transform: rotate(45deg);
  transition: 0.5s;

  li:not(:nth-child(2)) {
    transform: rotate(90deg) scaleX(0.4);
    transition: 0.5s;
  }

  li {
    background-color: $color-text-light;
    transition: 0.5s;
  }
}

.navigation-mobile {
  display: none;
  text-align: center;
  z-index: 9;

  .menu__mobile {
    list-style: none;

    a {
      color: $color-text-light;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $color-dark;
      }
    }

    .menu__mobile-item {
      margin: 10%;      
    }
  }
}

@media(max-width: 880px) {
  .navigation {
    .logo {
      max-width: 200px;
    }

    .menu {
      &__main {
        &-item{
          font-size: $base-size;
        }
      }
    }
  }
}

@media(max-width: 750px) {
  .navigation {
    .menu {
      &__main {
        display: none;
      }

      &__hamburger {
        list-style: none;
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
    }
  }

  .navigation-mobile {
    display: block;
  }
}

@media(max-width: 550px) {
  .navigation {
    height: 10vh;

    .logo {
      max-width: 150px;
    }
  }
}