@import './variables.scss';
@import './mixins.scss';

.container {
  @include container;

  .subtitle {
    @include subtitle;
  }

  .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      height: 360px;
      min-height: 250px;
      max-height: 400px;
      margin: $base-size*0.5;
      flex-basis: 31%;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 0px 8px 2px #000000;

      .image {
        width: 100%;
        height: 100%;
      }

      .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: description infinite;
      }

      .description {
        width: 100%;
        height: 100%;
        padding: $main-spacing;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%);
        background-color: #60a3bcbf;
        color: $color-text-light;
        text-align: center;
        // display: none;
        visibility: hidden;
      }

      .icons {
        margin: $main-spacing/2 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icons a {
        width: 100px;
        text-align: left;
        color: white;
        text-decoration: none;
        padding: 0 $main-spacing/2;
      }

      .icons a:hover {
        text-decoration: underline;
      }

      .icone-heroku {
        width: $base-size*2.5;
      }

      .icone-git {
        width: $base-size*2.5;
        font-size: $base-size*2;
      }

      &:hover {
        .image img {
          opacity: 0.4;
          transform: scale(1.2) rotate(3deg);
          transition: 1s;
        }

        .description {
          visibility: visible;
          display: block;
          transform: translate(-50%,-50%);
          transition: 1s;
        }
      }
    }
  }
}

@media(max-width: 800px) {
  .container {
    .projects {
      &__item {
        flex-basis: 46%;
      }
    }
  }
}

@media(max-width: 550px) {
  .container {
    .projects {
      &__item {
        flex-basis: 98%;
      }
    }
  }
}

