@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Roboto+Mono:wght@300;700&display=swap');

$font-text: 'Montserrat', sans-serif;
$font-second: 'Roboto Mono', monospace;
$base-size: 16px;

$main-spacing: 16px;

$color-main: #60a3bc;
$color-background-light: #f1f2f6;
$color-text: #000000;
$color-text-light: #f1f2f6; 