@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Roboto+Mono:wght@300;700&display=swap');

$font-text: 'Montserrat', sans-serif;
$font-second: 'Roboto Mono', monospace;
$base-size: 16px;

$main-spacing: 16px;

$color-main: #60a3bc;
$color-main-darker: #447486;
$color-background-light: #f1f2f6;
$color-dark: #112d38;
$color-text: #000000;
$color-text-light: #f1f2f6;
$color-error-background: #cf0a0a46;
$color-error-text: #de2424;
$color-success-text: #127b15;